{% load static %}
<link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
{% block css %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}?{% endblock %}</title>
</head>
<body>
    <!-- NAVBAR PRINCIPAL -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#!">E-Commerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Contato</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Quem somos</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block template %}
    ?
    {% endblock %}

    <!-- FOOTER -->
    <footer class="py-5 bg-warning">
        <p>Aluno: Luiz Batista dos Santos Neto</p>
        <p>Estudante de S.I.</p>
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
    </footer>
</body>
</html>